*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.mainbg{
    width: 100%;
    height: 100vh;
    background-image: url(/img/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;


}

    .road {
background-image: url(/img/road.jpg);
display: block;
        width: 500%;
        height: 280px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: repeat-x;
        animation: road 4s linear infinite;
        animation-duration: 15s;



}

.building{
background-image: url(/img/building.png);
    height: 250px;
    width: 500%;
    position: absolute;
    bottom: 243px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: building 30s linear infinite;

}
.car{
    width: 449px;
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
    bottom: 105px;
    z-index: 2;

}
.car img{
    width: 100%;
    animation: shake 1s linear infinite;
}
@keyframes road{
    0%{
        transform: translateX(0px);

    }
    100%{
        transform: translateX(-4000px);

    }
}
@keyframes building{
    0%{
        transform: translateX(px);
        
    }
    100%{
        transform: translateX(-4000px);
    }
}
 @keyframes shake{
    0%{
        transform: translateY(-2px);
        
    }
    50%{
        transform: translateY(2px);

    }
    100%{
        transform: translateX(-2px);
    }
} 
.wheels{
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    bottom: 102px;

}
.wheels img{
    width: 116px;
    animation: rotate 1s linear infinite;
}
.wheels .back{
    position: absolute;
    left: -346px;
    bottom: 9px;

}
.wheels .middle{
    position: absolute;
    left: -263px;
    bottom: 9px;

}
.wheels .front{
    position: absolute;
    left: -32px;
    bottom: 9px;

}


@keyframes rotate{
   
    
    100%{
        transform: rotate(360deg);
    }
} 
.flag img{
    width: 88px;
    position: absolute;
    left: 790px;
    bottom: 239px;
    z-index: 1;
    animation: shaking-flag 0.5s linear infinite;
    animation-duration: 3s;
}
@keyframes shaking-flag {
    0%{
        transform: rotateX(0deg);
    }
   50%{
        transform: rotateX(45deg);
    }
    100%{
        transform: rotateX(20deg);
    }

}
